@import url("https://fonts.googleapis.com/css2?family=Fredoka&display=swap");

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: "Fredoka", sans-serif;
}
.inscription{
    width: 100%;
    height: 100vh;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    background-image: url("../assets/img/bg.webp"); 
    background-size: cover;
}
.carte{
    background-color: rgba(164, 253, 219, 0.753) !important;
}
.box{
    width: 65%;
}